<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <script src="jquery.modal.min.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" href="jquery.modal.css" type="text/css" media="screen" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="cssfiles/styles.css">
  </head>
    <body>
  
   <section id="cover">
        <div id="cover-caption">
            <div class="container">
                <img id="logo" src="https://s-media-cache-ak0.pinimg.com/236x/18/42/5f/18425f21d32923e6b886411cb86fffa6.jpg" />
                <div class="col-sm-10 col-sm-offset-1">
                    <h1 class="display-3"> Welcome to RBC <br> Animal Shelter</h1>
                    <h2 id="adoptHeading">Keep Pets Happy and Healthy! Adopt Today!</h2><br>        
                    
                    <br>
                     <h5 id="chooseHeading">Choose from our local facility or make a search using our new pet adoption system locator.</h5><br>
                    
                    <!-- <a href="#nav-main" class="btn btn-secondary-outline btn-sm" role="button">&darr;</a> -->
                </div>
            </div>
        </div>
    </section>
    <div class="homeNav">
        <nav class="navbar navbar-dark bg-inverse navbar-full" id="nav-main">
            <a class="navbar-brand" id="whiteText" href="#"></a>
            <ul class="nav navbar-nav">

                <li class="nav-item active">
                    <a class="nav-link" id="whiteText" href="/">Home <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" id="whiteText" href="/contact">Contact Us</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" id="whiteText" href="/about">About</a>
                </li>

                <li class="nav-item">
                    <!-- <button type="button" class="btn btn-primary" id="b1"><a href="/rbc_shelter">Pets up for Adoption</a></button> -->
                        <li class="nav-item">
                     <div class="dropdown">
                        <button class="btn btn-primary" type="button" data-toggle="dropdown">Pets up for Adoption @RBC
                         <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <input type="hidden" name="all">
                            <li><a href="/rbc_shelter" name="all" id="whiteText">All</a></li>
                            <li><a href="/rbc_shelter/dog" id="whiteText">Dogs</a></li>
                            <li><a href="/rbc_shelter/cat" id="whiteText" name="cat">Cats</a></li>
                        </ul>
                    </div>
                </li>  
                </li>

<!-- 
                <li class="nav-item">
                    <button type="button" class="btn btn-info"><a href="/other_shelters">Other Shelters</a></button>
                </li>
                 -->

                <li class="nav-item">
                     <div class="dropdown">
                        <button class="btn btn-info" type="button" data-toggle="dropdown">Other Shelters
                         <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="/other_shelters" id="whiteText">Dogs</a></li>
                            <li><a href="/cat" id="whiteText">Cats</a></li>
                            <li><a href="/barnyard" id="whiteText">Barnyard</a></li>
                            <li><a href="/bird" id="whiteText">Birds</a></li>
                            <li><a href="/horses" id="whiteText">Horses</a></li>
                        </ul>
                    </div>
                </li>  



            
                <li class="nav-item">
                     <div class="dropdown">
                        <button class="btn btn-danger dropdown-toggle" type="button" data-toggle="dropdown">Maintainence
                         <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="/addpet">Add a Pet</a></li>
                            <li><a href="/pets_maintenance">Update Pets available</a></li>
                            <li><a href="/dogwalkerform">Add a Dog Walker</a></li>
                            <li><a href="/walker">Deactive Dogwalker</a></li>
                            <li><a href="pastworker">Reactive Dogwalker</a></li>
                        </ul>
                    </div>
                </li>        
            </ul>
        </nav>
    </div>
    
    <h2>{{banner}} </h2>
        {{{ body }}}
            <footer id="footer-main">

        <div class="row">
            <div class="col-sm-12">
                    <center>
                        <p>&copy; Project 2 by Bill Moffa, Daniel McGhee, Greg Barone, Julia Ji</p>
            </div>
        </div>
    </footer>
            <!-- jQuery first, then Bootstrap JS. -->
    <!-- <script type="text/javascript" href="script.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
      <script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
      <script type="text/javascript" src="cssfiles/app.js"></script>
  
    </body>
</html>
  
