 <section id="about">
        <div class="section-content">
            <div class="container">
                <div class="col-md-6">
                    <div class="about-text">
                        <h3>About Us</h3>
                        <p class="lead"> Our facility in Somerset, NJ house animals that have been mostly abandoned or brought to us by social services. We also developed an advance searchable database of animals who need homes. It is also a directory of nearly 14,000 animal shelters and adoption organizations across the U.S., Canada and Mexico.</p>
                        <h5>Follow me on the web</h5>
                        <a href="https://twitter.com/?lang=en" class="btn btn-sm btn-secondary-outline">twitter</a>
                        <a href="https://www.facebook.com/" class="btn btn-sm btn-secondary-outline">facebook</a>
                        <a href="https://www.youtube.com/" class="btn btn-sm btn-secondary-outline">youtube</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
   