
<form id="addpet" class="create-update-form" action="/addpet" method="POST">
<div class="form-group">
<label for="newpet">ADD A Pet!</label><br>
<input type="text" name="newpet" id="newpet"> <br>
<br>
<label for="gender">What gender is the animal?</label><br>
  <input type="radio" name="gender" value="M"> Male<br>
  <input type="radio" name="gender" value="F"> Female<br>
<br>
<label for="age">Please select the animals age:</label><br>
<input type="number" name="age" id="age" min="00" max="30"> <br>

<br>
<label for="size">What size is the animal?</label><br>
  <input type="radio" name="size" value="S"> Small<br>
  <input type="radio" name="size" value="M"> Medium<br>
  <input type="radio" name="size" value="L"> large<br>


<br>
<label for="animal">What type of animal?</label><br>
  <input type="radio" name="animal" value="dog"> Dog<br>
  <input type="radio" name="animal" value="cat"> Cat<br>
		<br>
  <label for="breeds">What breed is the animal</label><br>
  <input type="text" name="breeds" id="breeds">
<br>
<label for="media">Please add a photo of the animal.</label><br>
<input type="text" name="media" id="media">
<br>
<label for="description">Please tell us about the pet up for adoption. </label><br>
<input type="text" name="description" id="description"><br>
<br>
<button type="sumbit" name="submit" id="submit" class="btn-primary btn">SUBMIT</button>
</div>
</form>
