<h1> DO YOU NEED A DOG WALKER </h1>





<form id="updateWalker" class="create-update-form" action="/{{this.id}}?_method=PUT" method="POST">
<label for="name">Name:</label><br>
<input type="text" name="name" id="name"> <br>

<label for="dogwalkingtime">What time(Military Time) do you need a walker?</label><br>
<input type="number" name="start" id="newwalkerstart" min="00" max="24"> <br>
<input type="submit" name="submit" id="submit" class="btn-primary btn" value="Click Here to Find your Dog Walker">
</form>
