

<form id="addwalker" class="create-update-form" action="/" method="POST">
<div class="form-group">
<label for="newwalker">What is your name?</label>
<input type="text" name="newwalker" id="newwalkername"> <br>

<label for="starttime">What time can you start?</label>
<input type="number" name="start" id="newwalkerstart" min="00" max="24"> <br>

<label for="endtime">Til what time?</label>
<input type="number" name="endtime" id="newwalkerendtime" min="00" max="24"> <br>


<label for="size">What is the largest size dog you're comfortable walking?</label><br>
  <input type="radio" name="size" value="s"> Small
  <input type="radio" name="size" value="m"> Medium
  <input type="radio" name="size" value="l"> large<br>

<label for="email">Please give your email address</label>
<input type="email" name="email" id="newwalkeremail"><br>

<label for="phone">Phone Number:</label>
<input type="tel" name="phone" id="newwalkerphone"><br>

<button type="sumbit" name="submit" id="submit" class="btn-primary btn">SUBMIT</button>
</div>
</form>


