<h1> SIGN UP A NEW DOG WALKER <h1>



<form id="addwalker" class="create-update-form" action="/" method="POST">
<div class="form-group">
<label for="newwalker">ADD A WALKER!</label>
<input type="text" name="newwalker" id="newwalkername"> <br>

<label for="starttime">What time can you start walking</label>
<input type="number" name="start" id="newwalkerstart" min="00" max="24"> <br>

<label for="endtime">What time will you need to stop walking</label>
<input type="number" name="endtime" id="newwalkerendtime" min="00" max="24"> <br>


<label for="small">Can you Walk Small Dogs</label>
<input type="checkbox" name="small" id="newwalkersmall" value="true"><br>

<label for="medium">Can you Walk Medium Dogs</label>
<input type="checkbox" name="medium" id="newwalkermedium" value="true"><br>

<label for="large">Can you Walk Large Dogs</label>
<input type="checkbox" name="large" id="newwalkerlarge" value="true"><br>

<label for="email">Please give your email address</label>
<input type="email" name="email" id="newwalkeremail"><br>

<label for="phone">Phone Number:</label>
<input type="tel" name="phone" id="newwalkerphone"><br>

<button type="sumbit" name="submit" id="submit" class="btn-primary btn">SUBMIT</button>
</div>
</form>


