    <section id="what-we-do">
        <div class="section-content">
            <div class="container">
                <h2>What we do</h2>
                <p class="lead">We rescue animals from poor living conditions, as well as other situations.  Each day our team is devoted to giving these animals the care and attention they need. We also offer a unique dog walking matchup application.
                 A step-by-step application process is provided upon approval.</p>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card-group">
                            <div class="card">
                                <div class="card-block">
                                    <h4 class="card-title">Dog Walking Services</h4>
                                    <h6 class="card-subtitle">Fill out a short questioneer and we've provide you with the contact information for local dog walkers in your area</h6>
                                </div>
                                <div class="dogWalkerPic">
                                <img src="cssfiles/img/dogwalking.jpg" id="dogwalkpic" alt="Dog walking">
                                </div>
                                <div class="card-block">
                                    <p class="card-text">Our team of dog walkers are trained to accomodate pets while their owners are away. We feel that pets do best when they are cared for in the comfort of their own homes.That is why we are happy to assist all pet lovers with finding the care their pet needs!</p>
                                    <!--   <p class="card-text">Our team of dog walkers and sitters are trained to accomodate pets while their owners are away. We feel that pets do best when they are cared for in the comfort of their own homes.That is why we are happy to provide in-home pet care that is tailored to your pets' needs.</p> -->



                      
 <button type="button" class="btn btn-success-outline" data-toggle="modal" data-target="#myModalSchedule">Dog Walking Questioneer</button>
                                    <div class="modal fade" id="myModalSchedule">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <!-- <h3>Services</h3> -->
                                                </div>
                                                <div class="modal-body">
                                                    <!-- <form class="form-horizontal"> -->
                                                        <div class="form-group">
                                                        
                                                                <h1> DO YOU NEED A DOG WALKER </h1>



                                                                                
                                                            
                                                                <form class="form-horizontal" id="notworking" action="/getdogwalkers">
                                                                <!-- <label for="name">Name:</label><br> -->
                                                                <!-- <input type="text" name="name" id="name"> <br> -->

                                                                <label for="dogwalkingtime">What hour(Military Time) do you need a walker?</label><br>
                                                                <input type="number" name="time" id="newwalkerstart" min="00" max="24"> <br>
                                                                <!-- <label for="size">What size is the animal?</label><br> -->
                                                                <label for="size">What size is the animal?</label><br>
                                                                  <input type="radio" name="size" value="s"> Small<br>
                                                                  <input type="radio" name="size" value="m"> Medium<br>
                                                                  <input type="radio" name="size" value="l"> large<br>
                                                                <br>
                                                                <input type="submit" name="submit" id="submit" class="btn-primary btn" value="Click Here to Find your Dog Walker">
                                                                </form>
                                                       
                                                            </div>
                                                        </div>
                                                </div>
                                                <div class="modal-footer">
                                                   
                                                </div>
                                            </div>
                                        </div>


<!--  -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<div>
   
