
<!-- <div> -->
<!-- <ul>  -->
{{#each dogWalker}}



<div> 

<form id="updateWalker" class="create-update-form" action="/{{this.id}}?_method=PUT" method="POST">

<input type="hidden" name="workingCurrently" value="true">
<input type="submit" name="submit" id="submitbackwalker" class="btn-primary btn" value="ADD {{this.name}} BACK TO WORK SCHEDULE">
</form>


<div>		

<br>
{{/each}}
<!-- </ul> -->
<!-- </div> -->